<app-navbar></app-navbar>
<div class="container mt-5">
    <form [formGroup]="modifierForm" (ngSubmit)="modifier()">
        <div class="form-group">
            <h3>Déscription</h3>
            <label for="formGroupExampleInput"></label>
            <input type="text" class="form-control" id="formGroupExampleInput" name="description"
                formControlName="description" placeholder="Todo ?">
            <div *ngIf="description.touched && description.invalid" class="form-text text-danger text-sm">
                <div *ngIf="description.errors.required"> To do? </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="modifierForm.invalid">Modifier</button>

    </form>
</div>
<app-footer></app-footer>
